#header {
	flex-basis: 0;
	flex-grow: 0;
	flex-shrink: 0;

	.title {
		flex-grow: 1;
		font-size: 150%;
		font-weight: bold;
		margin: 0 !important;
		padding: 0;
	}

	.MuiIconButton-root {
		color: #fff;
	}
}
